<main>
    <div class="chat-movie">
        <span class="h2"><%=@group.movie%>　場所：<%=@place.place%>　映画館：<%=@group.theatre%></span>
        <span><%= link_to "グループページに戻る", group_path(@group.id)%></span>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-3"></div>
            <h2 class="col-6">チャットルーム</h2>
        </div>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-7">
                <% @group.chats.each do |chat| %>
                <div class="chat-content">
                    <span><%= attachment_image_tag chat.user, :profile_image, :fill, 50, 50, format: 'jpeg', fallback: "default-image.jpg"%></span>
                    <span><%= chat.user.name%></span>
                    <span>:</span>
                    <span><%= chat.comment%></span>
                </div>
                <%end%>
                <div class="chat-new">
                <%= form_with(model:[@group, @chat], local: true) do |f| %>
                <%= f.text_area :comment, rows:'5',placeholder: "コメントをここに" %>
                <%= f.submit "送信する" %>
                <% end%>
                </div>
            </div>
        </div>
    </div>
</main>