<main>
  <p id="notice"><%= flash[:notice]%></p>
  <div class=container"">
    <div class="row">
      <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
        <h2>User Info</h2>
        <div class="edit-form">
          <%= form_with model:@user, local:true do |f|%>
          <h6>Name</h6>
          <%= f.text_field :name, autofocus: true%>
          <h6>Image</h6>
          <%= f.attachment_field :profile_image%>
          <h6>Introduction</h6>
          <%= f.text_area :introduction%>
          <h6>Age</h6>
          <%= f.text_field :age, autofocus: true%>
          <h6>Sex</h6>
          <%= f.select :sex, [["男", "男"], ["女", "女"]], include_blank: "選択して下さい" %>
          <div><%= f.submit "ユーザー更新"%></div>
          <% end%>
        </div>
      </div>
    </div>
  </div>
</main>