<main>
  <div id="notice"><%= flash[:notice] %></div>
  <div class="user-show-header">
    <div><%= attachment_image_tag @user, :profile_image, :fill, 200, 200, format: 'jpeg', fallback: "default-image.jpg"%></div>
    <div class="user-show-info">
      <div class="user-show-info-basic">
        <span>名前:<%=@user.name%></span>
        <span>性別:<%=@user.sex%></span>
        <span>年齢:<%=@user.age%></span>
      </div>
      <div>自己紹介:<%=@user.introduction%></div>
    </div>
    <button class="user-show-edit">
      <%=link_to "ユーザー編集", edit_user_path(@user.id)%>
    </button>
  </div>
  <div class="user-show-group">
  <div class="user-show-group-index">
    <h2>グループ一覧</h2>
        <table class='table table-hover table-inverse'>
          <thead>
            <tr>
              <th>映画</th>
              <th>場所</th>
              <th>映画館</th>
              <th>時間</th>
              <th>メモ</th>
              <th colspan="5"></th>
            </tr>
          </thead>
          <% @groups.each do |group| %>
          <tbody>
            <td><%=link_to group.movie, group_path(group.id)%></td>
            <td><%=group.place.place%></td>
            <td><%=group.theatre%></td>
            <td><%=group.time%></td>
            <td><%=group.memo%></td>
            <%end%>
          </tbody>
        </table>
  </div>
  <div class="user-show-group-new">
    <h2>グループ作成</h2>
    <%= form_with model:@group_new, url: groups_path, local:true do |f|%>
      <h6>映画</h6>
      <%= f.text_field :movie, autofocus: true%>
      <h6>場所</h6>
      <%= f.select :place_id, [["中央区", "1"], ["千代田区", "2"], ["港区", "3"], ["新宿区", "4"], ["文京区", "5"], ["台東区", "6"], ["墨田区", "7"], ["江東区", "8"], ["品川区", "9"], ["目黒区", "10"], ["大田区", "11"], ["世田谷区", "12"], ["渋谷区", "13"], ["中野区", "14"], ["杉並区", "15"], ["豊島区", "16"], ["北区", "17"], ["荒川区", "18"], ["板橋区", "19"], ["練馬区", "20"], ["足立区", "21"], ["葛飾区", "22"], ["江戸川区", "23"]], include_blank: "選択して下さい" %>
      <h6>映画館</h6>
      <%= f.text_field :theatre%>
      <h6>開始時間</h6>
      <%= f.datetime_select :time%>
      <h6>人数</h6>
      <%= f.text_field :people%>
      <h6>メモ</h6>
      <%= f.text_field :memo%>
      <div><%= f.submit "Create Book"%></div>
    <% end%>
  </div>
  </div>
</main>